In [2]:
# Package imports for data science
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.graphics.mosaicplot import mosaic

df = pd.read_csv('C:/DSAI_2021-22/Voorbereiding_Examen/ttest/money.csv', delimiter=';')

df.head()

   Money (Time 1)  Money (Time 2)
0            5195            4359
1            5605            6245
2            4480            5511
3            5624            5666
4            4910            3989

In [3]:
alpha = .05

df['verschil'] = df['Money (Time 1)'] - df['Money (Time 2)']
df['kwadratisch verschil'] = df['verschil']**2

p = stats.ttest_ind(a=df['Money (Time 1)'], b=df['Money (Time 2)'],
    alternative='less').pvalue

print(f'De P-waarde is {p}')

De P-waarde is 0.1471689482002748

# Hypothese: 

Stijgt het geld in tijd?

$H0$: $m1$ <= $m2$

$H1$: $m1$ > $m2$

In [4]:
a = .05

m = df['Money (Time 1)'].mean()
s = df['Money (Time 1)'].std()
n = df['Money (Time 1)'].shape[0]
m0 = df['Money (Time 2)'].mean()

if(p < a):
    print("p < a, dus H0 verwerpen")
else:
    print("p > a, dus H0 niet verwerpen")

print(f'Het gemiddelde van Tijd 1 is {m}.')
print(f'De standaardafwijking van Tijd 1 is {s}.')
print(f'Er zijn {n} waarden in de dataset.')

print(m)

p > a, dus H0 niet verwerpen
Het gemiddelde van Tijd 1 is 5015.475.
De standaardafwijking van Tijd 1 is 1213.6928388399108.
Er zijn 40 waarden in de dataset.
5015.475

Conclusion: Retain the null. The difference is not statistically significant. The Money variable decreases or stays the same over time. If we assume this sample to represent the population, we would expect 95% of sample means to fall between -250.16 and 762.36.

In [5]:
# rechtergebied ==> helft van de alfa
z = stats.t.isf(a/2, df=n-1)
print("z-score: %.5f" % z)

# ondergrens en bovengrens berekenen
lo = m - z * s / np.sqrt(n)
hi = m + z * s / np.sqrt(n)
print("Confidence interval: [%.4f, %.4f]" % (lo, hi))

z-score: 2.02269
Confidence interval: [4627.3172, 5403.6328]