In [6]:
# Package imports for data science
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.graphics.mosaicplot import mosaic

df = pd.read_csv('C:/DSAI_2021-22/Voorbereiding_Examen/ttest/money2.csv', delimiter=';')

df.head()

   Money (Time 1)  Money (Time 2)
0             573             413
1             445             632
2             493             612
3             814             322
4             400             406

In [3]:
a = .05

df['verschil'] = df['Money (Time 1)'] - df['Money (Time 2)']
df['kwadratisch verschil'] = df['verschil']**2

p = stats.ttest_rel(a=df['Money (Time 1)'], b=df['Money (Time 2)'],
    alternative='less').pvalue

print(f'De P-waarde is {p}')

if(p < a):
    print("p < a, dus H0 verwerpen")
else:
    print("p > a, dus H0 niet verwerpen")

De P-waarde is 0.9490724221786511
p > a, dus H0 niet verwerpen

In [4]:
df.head()

   Money (Time 1)  Money (Time 2)  verschil  kwadratisch verschil
0             573             413       160                 25600
1             445             632      -187                 34969
2             493             612      -119                 14161
3             814             322       492                242064
4             400             406        -6                    36

In [5]:
a = .05
m = df.verschil.mean()
s = df.verschil.std()
n = df.verschil.shape[0]

# rechtergebied ==> helft van de alfa
z = stats.t.isf(a/2, df=n-1)
print("z-score: %.5f" % z)

# ondergrens en bovengrens berekenen
lo = m - z * s / np.sqrt(n)
hi = m + z * s / np.sqrt(n)
print("Confidence interval: [%.4f, %.4f]" % (lo, hi))

z-score: 2.00958
Confidence interval: [-7.3396, 78.8196]