In [7]:
# Package imports for data science
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.graphics.mosaicplot import mosaic

df = pd.read_csv('C:/DSAI_2021-22/Voorbereiding_Examen/ttest/days2.csv', delimiter=';')

df.head()

   Less than 6 Months  Longer than 6 Months
0                  20                    20
1                  19                    21
2                  16                    25
3                  33                    20
4                  33                    24

In [12]:
alpha = .05

p = stats.ttest_ind(a=df['Less than 6 Months'], b=df['Longer than 6 Months'],
    alternative='greater', equal_var=False).pvalue

print(f'De P-waarde is {p}')

De P-waarde is 0.010243825377730453

# Hypothese: 

H0: μLonger than 6 Months - μLess than 6 Months = 0

H1: μLonger than 6 Months - μLess than 6 Months ≠ 0

In [15]:
a = .05

m = df['Less than 6 Months'].mean()
s = df['Less than 6 Months'].std()
n = df['Less than 6 Months'].shape[0]
m0 = df['Longer than 6 Months'].mean()

if(p < a):
    print("p < a, dus H0 verwerpen")
else:
    print("p > a, dus H0 niet verwerpen")

print(f'Het gemiddelde van ... is {m}.')
print(f'De standaardafwijking van ... is {s}.')
print(f'Er zijn {n} waarden in de dataset.')

p < a, dus H0 verwerpen
Het gemiddelde van ... is 26.65.
De standaardafwijking van ... is 5.289321608384489.
Er zijn 40 waarden in de dataset.

Conclusion: Reject the null and accept the alternative. The difference is statistically significant. Employees hired more than 6 months ago have lower mean Days than employees hired less than 6 months ago. On average, the Days variable was 2.52 lower for employees hired more than 6 months ago. The difference in Days due to Tenure was medium.

In [17]:
# rechtergebied ==> helft van de alfa
z = stats.t.isf(a/2, df=n-1)
print("z-score: %.5f" % z)

# ondergrens en bovengrens berekenen
lo = m - z * s / np.sqrt(n)
hi = m + z * s / np.sqrt(n)
print("Confidence interval: [%.4f, %.4f]" % (lo, hi))

z-score: 2.02269
Confidence interval: [24.9584, 28.3416]

A paired t-test is designed to compare the means of the same group or item under two separate scenarios. An unpaired t-test compares the means of two independent or unrelated groups.

In an unpaired t-test, the variance between groups is assumed to be equal. In a paired t-test, the variance is not assumed to be equal.