In [1]:
# Package imports for data science
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.graphics.mosaicplot import mosaic

df = pd.read_csv('C:/DSAI_2021-22/Voorbereiding_Examen/ttest/days.csv', delimiter=';')

df.head()

   Days (Time 1)  Days (Time 2)
0             25             30
1             20             26
2             20             22
3             27             30
4             28             31

$H0$: $\mu$ â‰¤ 0

$H1$: $\mu$ > 0

In [3]:
a = .05

df['verschil'] = df['Days (Time 1)'] - df['Days (Time 2)']
df['kwadratisch verschil'] = df['verschil']**2

p = stats.ttest_rel(a=df['Days (Time 1)'], b=df['Days (Time 2)'],
    alternative='less').pvalue

print(f'De P-waarde is {p}')

if(p < a):
    print("p < a, dus H0 verwerpen")
else:
    print("p > a, dus H0 niet verwerpen")

De P-waarde is 0.02493210382321256
p < a, dus H0 verwerpen

In [9]:
df.head()

   Money (Time 1)  Money (Time 2)  verschil  kwadratisch verschil
0             573             413       160                 25600
1             445             632      -187                 34969
2             493             612      -119                 14161
3             814             322       492                242064
4             400             406        -6                    36

In [14]:
a = .05
m = df.verschil.mean()
s = df.verschil.std()
n = df.verschil.shape[0]

# rechtergebied ==> helft van de alfa
z = stats.t.isf(a/2, df=n-1)
print("z-score: %.5f" % z)

# ondergrens en bovengrens berekenen
lo = m - z * s / np.sqrt(n)
hi = m + z * s / np.sqrt(n)
print("Confidence interval: [%.4f, %.4f]" % (lo, hi))

z-score: 2.02269
Confidence interval: [-4.6985, -0.0015]

Conclusion: Reject the null and accept the alternative. The difference is statistically significant. The Days variable increases over time . If we assume this sample to represent the population, we would expect 95% of sample means to fall between -0.02 and 4.72. On average, Days was 2.35 higher at Time 2. The difference over time was small.